@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.link-header {
    display: none;
}

.link-header::first-letter,
button::first-letter {
    text-transform: uppercase;
}

button {
    height: 31px;
    width: 91px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    margin: 1vh 0 5vh;
    position: absolute;
    top: 1vh;
    right: 5vw;
}

section {
    margin-top: 9vh;
}

h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.596154px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin: 1.5em 0;
    padding: 1em;
}

#link-section {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-bottom: .5em;
}

img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: block;
}

/* Media Query - Phone */

@media screen and (orientation:landscape) {

    section {
        margin-top: 10vh;
    }

    #link-section,
    p,
    h1 {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
        margin: 0 2.5em;
    }

    img {
        width: 30%;
    }

}

/* Media Querys - Tablet */

@media screen and (min-width:500px) and (orientation:portrait) {
    button {
        font-size: 1.2em;
        height: 2em;
        width: 6em;
    }

    section {
        margin-top: 5em;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.25em;
        margin: 2em 3.5em;
    }

    #link-section {
        font-size: 1.5em;
    }

    img {
        width: 65%;
    }
}

@media screen and (min-height:500px) and (orientation:landscape) {

    button {
        font-size: 1.2em;
        height: 2.25em;
        width: 7em;
    }

    section {
        margin-top: 5em;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.25em;
        margin: 2em 3.5em;
    }

    #link-section {
        font-size: 1.5em;
    }

    img {
        width: 35%;
    }
}

@media screen and (min-width:700px) and (orientation:portrait) {

    button {
        font-size: 1.4em;
        height: 2.25em;
        width: 7em;
    }

    section {
        margin-top: 8em;
    }

    h1 {
        font-size: 3.5em;
    }

    p {
        font-size: 2.25em;
        margin: 1.5em .5em;
    }

    #link-section {
        font-size: 2.5em;
    }

    img {
        width: 65%;
    }
}

@media screen and (min-height:700px) and (orientation:landscape) {

    button {
        font-size: 1.4em;
    }

    section {
        margin-top: 7em;
    }

    h1 {
        font-size: 3em;
    }

    p {
        font-size: 1.5em;
        margin: 2em 5em;
    }

    #link-section {
        font-size: 2em;
        margin-bottom: 1em;
    }

    img {
        width: 40%;
    }
}

/* Media Query - Desktop */

@media screen and (min-width: 1281px) and (orientation:landscape) {

    header {
        margin-top: 4vh;
        margin-left: 5vw;
    }

    .link-header {
        display: inline-block;
        font-weight: 400;
        font-size: 1em;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.875px;
        color: #17233D;
        text-align: left;
        margin-right: 2em;
        cursor: pointer;
    }

    .link-header:hover {
        text-decoration: underline;
    }

    button {
        position: static;
        height: 51px;
        width: 124px;
        border-radius: 6px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
        cursor: pointer;
    }

    button:hover{
        background-color: #FFFFFF;
        color: #4CB538;
    }

    h1 {
        font-size: 62px;
        line-height: 82px;
        letter-spacing: 0.6px;
        width:582px;
        text-align: left;
        margin: 0;
    }

    p {
        width: 500px;
        text-align: left;
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.5px;
        margin:50px 0;
    
    }

    #link-section {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 1px;
        text-align: left;
    }

    #link-section:hover {
        text-decoration: underline;
    }

    img{
        position: absolute;
        left: 5.5vw;
        top: 28vh;
    }

    section{
        position: absolute;
        top: 25vh;
        left: 52.5vw;
    }
}